{% extends 'base.html.twig' %}


{% block titre %}
<h1>Cette page affichera les filtres formations</h1>
{% endblock %}

{% block bouttons %}

<div class="d-grid gap-2 col-6 mx-auto">
{% for formationCourante in formations %}
<a href={{path('pro_stages_formations',{intitule:formationCourante.intitule})}}><button type="button" class="btn btn-dark">{{formationCourante.intitule}}</button> </a>
{% endfor %}
</div>

{% endblock %}
