{% extends 'base.html.twig' %}


{% block titre %}
<h1>Cette page affichera les filtres entreprises</h1>
{% endblock %}
{% block bouttons %}
<div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-primary" type="button">Merka tic</button>
  <button class="btn btn-primary" type="button">Hupi</button>
  <button class="btn btn-primary" type="button">Arobiz</button>
</div>
{% endblock %}
