{% extends 'base.html.twig' %}


{% block titre %}
<h1>Cette page affichera les filtres entreprises</h1>
{% endblock %}
{% block bouttons %}

<div class="d-grid gap-2 col-6 mx-auto">
{% for entrepriseCourante in entreprises %}
<a href={{path('pro_stages_entreprises',{nom:entrepriseCourante.nom})}}><button type="button" class="btn btn-dark">{{entrepriseCourante.nom}}</button> </a>
{% endfor %}
</div>

{% endblock %}
