{% extends 'base.html.twig' %}


{% block bouttons %}
<center>

{%  if formationid == "DutInformatique"%}
  {% set formation = "Dut Informatique" %}

  {%  elseif formationid == "DuTic"%}
    {% set formation = "DU TIC" %}

    {%  elseif formationid == "LicenceProfessionnelleMultimédia"%}
      {% set formation = "Licence Professionnelle Multimédia" %}

      {%  else %}
        {% set formation = "toutes les formations" %}

{%  endif %}

<h3> Veuillez trouver ci-dessous les stages proposés pour les étudiants ici de : {{formation}} </h3>

</center>
{% endblock %}
