{% extends 'base.html.twig' %}


{% block bouttons %}
<center>

{%  if entrepriseid == "MerkaTic"%}
  {% set entreprise = "Merka Tic" %}

  {%  elseif entrepriseid == "Hupi"%}
    {% set entreprise = "Hupi" %}

    {%  elseif entrepriseid == "Arobiz"%}
      {% set entreprise = "Arobiz" %}

      {%  else %}
        {% set entreprise = "toutes les entreprises" %}

{%  endif %}

<h3> Veuillez trouver ci-dessous les stages proposés par {{entreprise}} </h3>

</center>
{% endblock %}
